BluetoothList {
    background: transparent;
    border: none;
}

BluetoothList > QWidget > QWidget {
    background: transparent;
}

BluetoothList > QWidget > QScrollBar {
    background: transparent;
    width: 4px;
    border: none;
}

BluetoothList > QWidget > QScrollBar::handle {
    background: #5962D9;
    width: 4px;
    border: none;
    border-radius: 4px;
}
